<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>부트스트랩 101 템플릿</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">로그인</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="이메일" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <div>
          <label></label>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-primary btn-block" type="button" onclick="createMember()">회원가입</button>
        </div>
      </form>
    </div> <!-- /container -->
  </body>

  <script>
    function createMember(){
      window.location.href="http://localhost:3000/member/createMember";
    }
  </script>
</html>